
    <!-- ##### Footer Area Start ##### -->
    <footer class="main-footer text-center">
    <!--Widgets Section-->
      <div class="widgets-section padding-top-small padding-bottom-small">
         <div class="container">
             
            <div class="row clearfix">
               <!--Footer Column-->
               <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-widget about-widget">
                     <h3 class="has-line-center">About Us</h3>
                     <div class="widget-content">
                        <div class="text">At the end of the day, going forward, a new normal that has evolved generation X is on the runway heading towards a streamlined cloud solution. </div>
                           <ul class="social-links">
                              <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                           </ul>
                         </div>
                     </div>
                 </div><!--End Footer Column-->
                 
                 <!--Footer Column-->
                 <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                     <div class="footer-widget contact-widget">
                         <h3 class="has-line-center">Contact Us</h3>
                         <div class="widget-content">
                             <ul class="contact-info">
                                 <li><div class="icon"><span class="flaticon-support"></span></div></li>
                                 <li>10, Mc Donald Avenue, Sunset Park, Newyork</li>
                                 <li>+99 999 9999</li>
                                 <li>info@yourdomain.com</li>
                             </ul>
                         </div>
                     </div>
                 </div><!--End Footer Column-->
                 
                 <!--Footer Column-->
                 <div class="footer-column col-md-4 col-sm-12 col-xs-12">
                     <div class="footer-widget newsletter-widget">
                         <h3 class="has-line-center">Newsletter</h3>
                         <div class="widget-content">
                           <div class="text">Stay Updated with our latest news. We promise not to spam</div>
                             <div class="newsletter-form">
                                 <form method="post">
                                     <div class="form-group">
                                         <input type="email" name="field-name" value="" placeholder="Your Email" required="">
                                         <button type="submit" class="send-btn"><span class="fa fa-paper-plane-o"></span></button>
                                     </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div><!--End Footer Column-->
                 
             </div>
         </div>
     </div>
     
     <!--Footer Bottom-->
      <div class="footer-bottom">
         <div class="auto-container">
            <div class="copyright-text">Copyright ©. All Rights Reserved</div>
         </div>
      </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins.js"></script>
    
    <script src="/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="/js/script.js"></script>
	
	<!--WEB3 JS for login-->
	<script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
	<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
	<script type="text/javascript" src="/js/web3_controller.js"></script>
</body>