<!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix">
        
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="title wow fadeInUp" data-wow-delay="0.2s"><%= pagetitle %></h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= pagetitle %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->


	<!-- ##### Contact Area Start ##### -->
    <section class="section-padding-100 contact_us_area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span>Signup Now!</span>
                        </div>
                        <h2>Create New Account</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                    </div>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="contact_form">
                        <form action="/register" method="post" id="main_contact_form" novalidate>
                            <div class="row">
                                <div class="col-12">
                                    <div id="success_fail_info"></div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                        <input type="text" name="name" id="name" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                        <input type="text" name="email" id="email" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Email</label>
                                    </div>
                                </div>
								<div class="col-12 col-md-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                        <input type="text" name="address" id="address" required readonly>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label></label>
                                    </div>
                                </div>
                                <!--<div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="password" name="password" id="password" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
								<div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="password" name="password2" id="password2" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Confirm Password</label>
                                    </div>
                                </div>-->
								<input type="hidden" id="signatureObject" name="signatureObject" value="">
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
									<input type="checkbox" id="agreeTerms" name="agreeTerms" value="agreeTerms">
									<label for="agreeTerms">Click to agree with our terms and conditions</label><br>
                                    <button type="button" class="more-btn" onclick="onRegister()">Sign Up</button>
                                </div>
								<script>
								function onRegister(){
									if(!$("#email")[0].value || !$("#name")[0].value || !$("#address")[0].value 
										|| !$("#agreeTerms")[0].checked){
										alert("Please fill in the required information and agree with the terms and conditions");
										return false;
									}
									if(!provider || !localStorage.getItem('myAccount')){
										alert("Not connected with valid wallet");
										return false;
									}
									const web3 = new Web3(provider);
									var signatureObject = web3.eth.personal.sign(web3.utils.utf8ToHex("By signning up, you are agreed to our Terms & Conditions"), localStorage.getItem('myAccount'),"solon is handsome"+new Date().getTime())
									.then(function(signatureObject){
										if(signatureObject){
											document.getElementById("signatureObject").value = signatureObject;
											$.ajax({
											   type: "POST",
											   url: "/register",
											   data: $("#main_contact_form").serialize(),
											   success: function(data)
											   {
													if(!data || typeof data !== "object")){
														alert("Registration failed:"+data);
														return;
													}else{
														var insertID = data;
														insertID = (insertID.result)? insertID.result : false;
														if(insertID && insertID =="success")
															alert("Registration completed.");
														else alert("Registration failed");
														location.reload();
													}
											   }
											 });
										}
									});									
									return false;
								}
								</script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->